html {
  scroll-behavior: smooth;
}

/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
  background-color: var(--back-grd);
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 62em) {
  .container {
    margin-left: 20px;
  }
}

button {
  text-align: center;
  color: #fff;
  background-color: var(--grey);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-light);
  transition: var(--smooth);
}

:root {
  --name-color: #7ddfd6;
  --navbar: #32dea5;
  --back-grd: #ffffff;
  --green: #54b192;
  --grey: #3f3d56;
  --green-light: #a4cec0;
  --green-black: #0f2e2e;
  --smooth: all 0.2s ease-in;
}

.dark_mode {
  --name-color: #7ddfd6;
  --navbar: #78d9c2;
  --back-grd: #202d29;
  --green: #4da88a;
  --grey: #5c5c94;
  --green-light: #7fe4c4;
  --green-black: #2d4747;
  --smooth: all 0.2s ease-in;
}

/* header */
header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--green-light);
}

.navbar__name {
  z-index: 1001;
  display: inline-block;
  margin-left: 20px;
  font-size: 1.3em;
  color: var(--green-black);
}

.navbar__name.navbar_change_color {
  color: var(--name-color);
  transition: all 1 ease-in;
}

.navbar__links {
  position: fixed;
  top: -20px;
  left: 0;
  width: 100%;
  height: 55%;
  padding-bottom: 20px;
  background-color: var(--grey);
  z-index: 5;
  transition: var(--smooth);
  transform: translateY(-100%);
  opacity: 0;
}

.navbar__links.navbar__open {
  transform: translateY(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  display: block;
  list-style: none;
  margin-top: 90px;
  margin-left: 30px;
  margin-bottom: -60px;
  width: 120px;
}

.navbar__link a {
  font-size: 0.9rem;
  display: inline-block;
  padding: 0px 100% 0px 0px;
  text-decoration: none;
  color: #fff;
  font-weight: 300px;
  transition: var(--smooth);
  position: relative;
}

.navbar__link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 1px;
  background: #fff;
  transition: var(--smooth);
}

.navbar__link a:hover::after {
  width: 100%;
}

.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 16px;
  background-color: var(--green);
  margin-top: 88px;
  margin-left: 8px;
}

.navbar__icons {
  padding: auto;
  margin-left: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);

  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
}

.navbar__icon {
  user-select: none;
  width: 45px;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  user-select: none;
  content: "";
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:after {
  user-select: none;
  transform: translateY(-10px);
}

.navbar__icon:before {
  user-select: none;
  transform: translateY(10px);
}

/* button animation */
.open .navbar__icon {
  user-select: none;
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  user-select: none;
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
  user-select: none;
  transform: rotate(-45deg) translate(35px, 35px);
}

.navbar #switch-mode {
  padding: 21px 21px;
  margin-left: 30px;
  transition: none;
  background-color: var(--green);
  z-index: 1002;
}

.navbar #switch-mode i:last-child {
  display: none;
}

.dark_mode .navbar #switch-mode i:first-child {
  display: none;
}

.dark_mode .navbar #switch-mode i:last-child {
  display: block;
}

@media (min-width: 62em) {
  .navbar {
    justify-content: space-between;
  }
  .navbar__links {
    position: initial;
    transform: translateY(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -50px;
    padding: 0;
  }

  .navbar__name {
    margin-left: 45px;
    margin-top: 26px;
    min-width: 350px;
    width: 350px;
    color: var(--green);
    user-select: none;
  }

  .navbar__link {
    margin-bottom: 3px;
  }

  .navbar__link a {
    color: var(--grey);
    width: 80px;
    padding: 0 20px;
    font-size: 1.22rem;
    user-select: none;
  }

  .navbar__link:nth-child(3) {
    width: 150px;
  }

  .navbar__icons {
    display: none;
  }

  .navbar__btn {
    background-color: var(--grey);
    user-select: none;
  }

  .navbar #switch-mode {
    margin-right: 20px;
    margin-top: 20px;
    transition: none;
  }
}

/* banner */
#banner {
  position: relative;
  height: 110vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 200px;
  padding-bottom: 15em;
  justify-content: center; /* căn giữa theo chiều dọc */
  align-items: center; /* căn giữa theo chiều ngang */
}

.banner__img {
  position: absolute;
  top: -50px;
  /* right: -20px; */
  width: 100%;
  height: 69%;
  overflow: hidden;
  z-index: -1;
}

.banner__img img {
  width: 100%;
  height: 70%;
  object-fit: cover; /* Ảnh luôn giữ bố cục đẹp */
  object-position: center;
}

.mon_image img {
  max-width: 200px;
  position: relative;
  top: 385px;
  left: 50%;
  transform: translateX(-50%);
  top: 60%;
  max-width: 160px;
  margin-top: 40rem;
  z-index: 3;
}

.banner__heading {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: var(--grey);
  user-select: none;
  /* padding-top: 500px; */
  z-index: 5;
}

.banner__heading h1 {
  font-size: 1.5rem;
  margin-bottom: 0.8em;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
  z-index: 10000;
}

.banner__btn {
  font-size: 1em;
}

.banner__social {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.banner__social a {
  color: var(--grey);
  transition: var(--smooth);
}

.banner__social a:hover {
  color: var(--green);
  transition: var(--smooth);
}

@media (min-width: 62em) {
  .mon_image img {
    max-width: 200px;
    top: 22%;
    left: 18%;
    transform: translateX(-50%);
    margin-top: 9rem;
  }
  .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
    margin-left: 90px;
  }

  .banner__social {
    justify-content: flex-start;
  }

  .banner__social a {
    margin-right: 45px;
  }

  .banner__img {
    height: 108%;
    width: 65%;
    padding: 40px;
    right: -40px;
    justify-content: flex-end;
  }

  .banner__img img {
    left: 0;
  }
}

/* Competences */
#competences {
  position: relative;
  overflow-x: hidden;
  /* margin-top: 30em; */
  z-index: -1;
}

#competences h2 {
  text-align: center;
  color: var(--grey);
  margin-bottom: 3em;
}

.items__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}

.items__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.competence {
  margin: 3em 0;
}

.competence img {
  padding-bottom: 4em;
}

.thing__compe--heading {
  text-align: center;
  color: var(--grey);
}

.thing__compe--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
}

@media (min-width: 62em) {
  #competences {
    margin-top: 4em;
  }

  #competences .container {
    margin-left: 120px;
  }

  .competence {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .competence img {
    width: 40%;
    padding-bottom: 0;
  }

  .thing__compe--heading {
    width: 45%;
    text-align: initial;
  }

  .thing__compe--heading p {
    max-width: 500px;
    margin: 0;
  }

  .competence:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }

  .thing__compe--heading:nth-child(odd) p {
    order: 1;
    width: 45%;
    text-align: initial;
  }
}

/* Projets */

#projets {
  padding-top: 10em;
  position: relative;
  overflow-x: hidden;
}

#projets h2 {
  text-align: center;
  color: var(--grey);
}

.projet__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
.projet__dec:nth-child(2) {
  position: absolute;
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.projet__img--seul {
  margin: 2em 0;
  text-align: center;
}

.projet__img--seul:nth-child(odd) {
  padding-top: 5em;
}

.projet__img--seul:nth-child(3) {
  margin-top: 5em;
}

.projet__img--seul a {
  text-decoration: none;
  color: var(--grey);
}

@media (min-width: 62em) {
  #projets .container {
    margin-left: 50px;
  }
  #projets h2 {
    margin-bottom: 3em;
  }

  .projet__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projet__img--seul {
    margin: 0 5em;
    width: 35%;
  }

  .projet__img--seul:nth-child(3) {
    margin-top: 0;
  }
}

/* footer */
#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.footer__img {
  position: absolute;
  top: -100px;
  right: 0;
  transform: translateX(25%);
  z-index: -1;
}

.footer__heading {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: var(--grey);
  margin-top: 18em;
}

.footer__contacts {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer__contacts a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--grey);
  margin-left: 2em;
  width: fit-content;
}

.footer__dec {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-45%);
  z-index: -1;
}

footer {
  text-align: center;
  width: 100%;
  background-color: var(--green);
  padding: 1rem 0em;
  margin-top: 1rem;
}

@media (min-width: 62em) {
  .footer__img {
    top: -15%;
    right: 0;
    transform: translateX(32%);
    width: 60%;
  }

  .footer__heading {
    text-align: initial;
    margin: 0;
  }

  .footer__heading {
    margin-left: 200px;
  }

  .footer__contacts {
    display: flex;
    justify-content: space-between;
  }

  .footer__contacts a {
    margin: 0;
  }

  #footer .banner__social {
    margin-top: 10px;
    padding: 0 auto;
  }
}
